@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    Html.AppendCssFileParts($"~/css/homepage.min.css");

    Html.AppendCssFileParts($"~/lib/glide/css/glide.core.min.css");
    Html.AppendCssFileParts($"~/lib/glide/css/glide.theme.min.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/glide/glide.min.js");

}

<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })


        @await Html.PartialAsync("_HomepageSlider")
        @await Component.InvokeAsync("HomepageCategories")





        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>


<script asp-location="Footer">
                $(document).ready(function() {

                    new Glide('.glide', {
                      type: 'carousel',
                      startAt: 0,
                        perView: 1,
                        hoverpause: true,
                        peek: {
                            before: 0,
                            after: 330
                        },
                        breakpoints: {
                               1000: { peek: 0 }
                        }
                    }).mount()
            });
</script>
