@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
    Html.AppendCssFileParts($"~/css/account.min.css");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <div class="input-prepend"><div class="input-content"><svg class="icon"><use href="#lock-alt"></use></svg></div></div>
                        <input asp-for="OldPassword" class="form-input" placeholder="Old password" />
                    </div>
                    <span asp-validation-for="OldPassword"></span>
                    <div class="inputs">
                        <div class="input-prepend"><div class="input-content"><svg class="icon"><use href="#lock-alt"></use></svg></div></div>
                        <input asp-for="NewPassword" class="form-input" placeholder="New password" />
                    </div>
                    <span asp-validation-for="NewPassword"></span>
                    <div class="inputs">
                        <div class="input-prepend"><div class="input-content"><svg class="icon"><use href="#lock-alt"></use></svg></div></div>
                        <input asp-for="ConfirmNewPassword" class="form-input" placeholder="Confirm password" />
                    </div>
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <button type="submit" class="button-1 change-password-button w-100">@T("Account.ChangePassword.Button")</button>
            </div>

        </form>
    </div>
</div>