@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
    Html.AppendCssFileParts($"~/css/account.min.css");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">

        <div class="card default justify-content-center align-items-center p-4">

            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result p-4">
                    @Model.Result
                </div>
            }
            else
            {
                <form asp-route="PasswordRecovery" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <p class="mb-3">@T("Account.PasswordRecovery.Tooltip")</p>

                        <div class="inputs">
                            <div class="input-prepend"><div class="input-content"><svg class="icon"><use href="#envelope"></use></svg></div></div>
                            <input asp-for="Email" class="email form-input" placeholder="Email" />
                        </div>
                        <span asp-validation-for="Email"></span>

                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }

                <button type="submit" name="send-email" class="button-1 password-recovery-button w-100 mt-4">@T("Account.PasswordRecovery.RecoverButton")</button>

                </form>
            }
        </div>
    </div>
</div>