@model SocialModel
<div class="d-flex align-items-center justify-content-center md-justify-content-start">
    <a href="https://www.facebook.com/PveHero/" class="user-select-none"><svg class="icon svg-baseline mr-4" data-toggle="tooltip" style="font-size: 2rem" title="@@PveHero"><use href="#facebook-square"></use></svg></a>
    <a href="https://twitter.com/pvehero_com" class="user-select-none"><svg class="icon svg-baseline mr-0 md-mr-4" data-toggle="tooltip" style="font-size: 2rem" title="@@pvehero_com"><use href="#twitter-square"></use></svg></a>
</div>