@model IList<ProductTagModel>

@if (Model.Count > 0)
{
    <div class="product-tags-box d-flex mb-2">
        @for (var i = 0; i < Model.Count; i++)
        {
            var tagSeName = Model[i].TagNameData[1];
            <a href="@Url.RouteUrl("ProductsByTag", new { Model[i].SeName })" class="badge tag waves-effect waves-light mr-2">
                @if (!string.IsNullOrEmpty(Model[i].TagNameData[1]))
                {
                    <svg class='icon shadow svg-baseline mr-2'><use href='#@Model[i].TagNameData[1]'></use></svg>
                }
                @Model[i].TagNameData[0]
            </a>
        }
    </div>
}  

