@model AddressModel

<input asp-for="Id" type="hidden"/>
<div class="edit-address">
    <p class="mb-2">Personal info</p>
    <div class="inputs">
        <input asp-for="FirstName" class="form-input" placeholder="First name" />
    </div>
    <span asp-validation-for="FirstName"></span>

    <div class="inputs">
        <input asp-for="LastName" class="form-input" placeholder="Last name" />
    </div>
    <span asp-validation-for="LastName"></span>

    <div class="inputs">
        <input asp-for="Email" class="form-input" placeholder="Email" />
    </div>
    <span asp-validation-for="Email"></span>

    @if (Model.CompanyEnabled)
    {
        <div class="inputs">
            <input asp-for="Company" class="form-input" placeholder="Company name" />
        </div>
        <span asp-validation-for="Company"></span>

    }
    <p class="mb-2">Address</p>
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            <input asp-for="Address1" class="form-input" placeholder="Street address" />
        </div>
        <span asp-validation-for="Address1"></span>

    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            <input asp-for="Address2" class="form-input" />
        </div>
        <span asp-validation-for="Address2"></span>

    }

    <div class="inputs" style="flex-wrap: nowrap;">
        @if (Model.CityEnabled)
        {
            <div class="inputs mr-3 d-inline-flex flex-column mb-0">
                <input asp-for="City" class="form-input w-100" placeholder="City" />
                <span asp-validation-for="City" class="mb-0"></span>
            </div>


        }
        @if (Model.ZipPostalCodeEnabled)
        {
            <div class="inputs d-inline-flex flex-column mb-0">
                <input asp-for="ZipPostalCode" class="form-input w-100" placeholder="Zip/Postal" />
                <span asp-validation-for="ZipPostalCode" class="mb-0"></span>
            </div>


        }
    </div>


    @if (Model.CountryEnabled)
    {   
        <p class="mb-2">Country</p>
        <div class="inputs">
            <select class="w-100" asp-for="CountryId" asp-items="Model.AvailableCountries"
                    data-trigger="country-select"
                    data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                    data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                    data-loading="#states-loading-progress"></select>
        </div>
        <span asp-validation-for="CountryId"></span>

    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
        </div>
        <span asp-validation-for="StateProvinceId"></span>

    }
    @if (Model.CountyEnabled)
    {
        <div class="inputs">
            <input asp-for="County" class="form-input" />
        </div>
        <span asp-validation-for="County"></span>

    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            <label asp-for="PhoneNumber" asp-postfix=":"></label>
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            <label asp-for="FaxNumber" asp-postfix=":"></label>
            <input asp-for="FaxNumber" />
            <span asp-validation-for="FaxNumber"></span>
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        <p class="mb-2">Optional contact method</p>
        <div class="inputs custom-attributes">
            @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
        </div>
    }
</div>
