@using Nop.Core;
@using Nop.Services.Catalog;
@using Nop.Services.Directory;

@inject IPriceFormatter priceFormatter
@inject ICurrencyService  currencyService
@inject IWorkContext workContext
@{
    var Price = priceFormatter.FormatPrice(currencyService.ConvertFromPrimaryStoreCurrency(10, workContext.WorkingCurrency));

    var diabloPrice = priceFormatter.FormatPrice(currencyService.ConvertFromPrimaryStoreCurrency(5, workContext.WorkingCurrency));
}

<div class="mt-4 slider">
    <div class="slide">
        <div class="card mb-3 mt-4 images wow border-0">
            <h2 class="text-uppercase mb-4 shadow">Mythic+<br />Now 5% cheaper</h2>
            <div class="elements">
                <div class="buttons mb-0">
                    <a href="/mythic-plus" class="button-1 big">Learn more</a>
                </div>
                <div class="ribbons">
                    <div class="ribbon new">
                        <span>From: @Price</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="card mb-3 mt-4 images diablo-3 border-0">
            <h2 class="text-uppercase mb-4 shadow">Greater rifts<br />Now 10% cheaper</h2>
            <div class="elements">
                <div class="buttons mb-0">
                    <a href="/greater-rifts" class="button-1 big">Learn more</a>
                </div>
                <div class="ribbons">
                    <div class="ribbon new">
                        <span>From: @diabloPrice</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
