@using Nop.Core;
@using Nop.Services.Catalog;
@using Nop.Services.Directory;

@inject IPriceFormatter priceFormatter
@inject ICurrencyService  currencyService
@inject IWorkContext workContext
@{
    var Price = priceFormatter.FormatPrice(currencyService.ConvertFromPrimaryStoreCurrency(20, workContext.WorkingCurrency));

    var diabloPrice = priceFormatter.FormatPrice(currencyService.ConvertFromPrimaryStoreCurrency(9, workContext.WorkingCurrency));
}
<div class="slider-wrapper">
    <div class="mt-4 slider">
        <div class="slide">
            <div class="card mb-3 mt-4 images wow-featured border-0">
                <h2 class="text-upper mb-4 shadow">New Mythic+ Season<br />Now Available</h2>
                <div class="elements">
                    <div class="buttons mb-0">
                        <a href="/mythic-plus" class="button-1 big">Learn more</a>
                    </div>
                    <div class="ribbon new text-upper text-bold">
                        From: @Price
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="card mb-3 mt-4 images diablo-3-featured border-0">
                <h2 class="text-upper mb-4 shadow">Greater rifts<br />Now with bulk discount</h2>
                <div class="elements">
                    <div class="buttons mb-0">
                        <a href="/greater-rift-runs" class="button-1 big">Learn more</a>
                    </div>
                    <div class="ribbon new">
                        From: @diabloPrice
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>