@model Nop.Web.Models.Customer.PasswordRecoveryModel
@using System.Text.Encodings.Web
@{
    Layout = "_ModalLayout";
}

@section Header
    {
    <h1 id="fnspopupforgotpassword">@T("Account.PasswordRecovery")</h1>
}
@section Body
    {
    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="result">
            @Model.Result
        </div>
    }
    <form asp-route="PasswordRecovery" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target" id="form-fns-pupuplogin-passwordrecovery" class="d-flex flex-column mt-4" style="height: 250px">

        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <p>@T("Account.PasswordRecovery.Tooltip")</p>
        <div class="inputs my-auto">
            <div class="input-prepend"><div class="input-content"><svg class="icon"><use href="#envelope"></use></svg></div></div>
            <input asp-for="Email" class="email form-input" placeholder="Email" />
        </div>
        <span asp-validation-for="Email"></span>

        @if (Model.DisplayCaptcha)
        {
            <div id="fnspopuppasswordrecoverycaptchabox" class="captcha-box">
            </div>
        }
        <button type="submit" name="send-email" class="mt-auto button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>

    </form>
}
@section Footer
    {
}