@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/formstone/core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/formstone/dropdown.min.js");
    Html.AppendCssFileParts($"~/lib/formstone/dropdown.min.css");
    Html.AppendCssFileParts($"~/css/cart.min.css");
    Html.AppendCssFileParts($"~/css/tables.min.css");
    Html.AppendCssFileParts($"~/css/product-grid.min.css");

}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
        <p>Review your cart's content.</p>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model})
    </div>
</div>

<script asp-location="Footer">
    $(window).on('load resize scroll', function () {
        var element = '.' + 'cross-sells';
        if (utility.isInViewport(element) && !$(element).hasClass('loaded')) {

            [].forEach.call(document.querySelectorAll(".item-box .product-item"), function (el) {
                let image = 'url(' + $(el).children('.url').text() + ')';

                $(el).css("background", image).addClass('visible');
            });
            $(element).addClass('loaded')
        }
    });
</script>