@model List<ExternalAuthenticationMethodModel>

@foreach (var authenticationMethod in Model)
{
    @await Component.InvokeAsync(authenticationMethod.ViewComponentName)
}
@if (Model.Any())
{
    <div class="title">@T("Account.AssociatedExternalAuth.Or")</div>
}