.category-description {
  margin: 0 0 25px;
  line-height: 22px; }

.product-selectors {
  margin: 0 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px 0;
  display: flex; }

.product-selectors:first-child {
  border-top: none; }

.product-selectors:after {
  content: "";
  display: block;
  clear: both; }

.product-selectors > div {
  display: flex;
  align-items: center;
  margin: 5px; }

.product-selectors span {
  vertical-align: middle;
  font-size: 16px; }

.product-selectors select {
  margin: 0 8px; }

.product-selectors .product-viewmode {
  display: none;
  font-size: 0; }

.product-selectors div span:first-child {
  margin: 0 0 .5rem 0; }

.product-selectors > div {
  flex-direction: column; }

.html-category-page .page-title {
  padding: 0;
  margin: 0 0 1rem; }

.html-category-page .category-description p {
  margin: 1rem 0;
  color: #bba0ff;
  font-size: 1.25rem; }

.html-category-page .product-item {
  opacity: 1 !important; }

.html-category-page .block .title {
  margin: 0 0 10px;
  padding: 12px 30px 15px 0; }

@media all and (min-width: 481px) {
  .product-selectors > div {
    flex-direction: row; } }

@media all and (min-width: 769px) {
  /*** CATEGORY ***/
  .product-selectors {
    text-align: left; } }

@media all and (min-width: 1001px) {
  .html-category-page .block .title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .block-category-navigation .listbox {
    padding-top: 10px; } }
