/********** CHECKOUT **********/
.checkout-page .section {
  margin: 0 0 30px; }

.checkout-page .section.order-summary {
  margin: 60px 0 30px; }

.checkout-page .cart-options {
  min-height: 60px;
  overflow: hidden; }

.checkout-page .cart-footer {
  border-top: none; }

.checkout-page .total-info {
  margin: 0;
  border-bottom: none; }

.checkout-page .button-1 {
  display: inline-block;
  min-width: 140px;
  border: none;
  background-color: #4ab2f1;
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase; }

.checkout-page .button-1:hover {
  background-color: #248ece; }

.checkout-page .address-item {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px; }

.checkout-page .address-item ul {
  margin: 0 0 15px;
  padding: 20px; }

.checkout-page .address-item li {
  padding: 5px 0; }

.checkout-page .address-item li.name {
  font-size: 16px;
  font-weight: bold; }

.enter-address .message-error {
  margin: 20px 0; }

.enter-address .edit-address {
  margin: 0 0 30px;
  padding: 30px 15px; }

.shipping-method .method-list,
.payment-method .method-list {
  margin: 0 auto 30px;
  overflow: hidden;
  text-align: center;
  font-size: 0; }

.shipping-method .method-list li,
.payment-method .method-list li {
  margin: 20px 0;
  font-size: 14px;
  /*reset zeroing*/ }

.shipping-method .method-list li label,
.payment-method .method-list li label {
  font-size: 13px;
  font-weight: bold;
  color: #444; }

.shipping-method .method-description {
  margin: 5px 0 0; }

.payment-method .use-reward-points {
  margin: 0 0 30px;
  text-align: center;
  color: #444; }

.payment-method .payment-logo {
  display: inline-block;
  vertical-align: middle; }

.payment-method .payment-logo label {
  display: block;
  font-size: 0 !important; }

.payment-method .payment-details {
  min-width: 180px;
  display: inline-block;
  margin: 0 0 0 10px;
  text-align: left;
  vertical-align: middle; }

.payment-info .info {
  padding: 30px 15px; }

.payment-info .info tr {
  display: block;
  margin: 0 0 15px;
  font-size: 0; }

.payment-info .info td {
  display: inline-block;
  width: 100% !important;
  max-width: 400px !important;
  font-size: 14px;
  /*reset zeroing*/ }

.payment-info .info td:only-child {
  width: 100% !important;
  max-width: 100% !important; }

.payment-info .info td input[type="text"] {
  width: 100% !important; }

.payment-info .info td input[name="CardCode"] {
  width: 65px !important; }

.payment-info .info td select {
  min-width: 70px; }

.payment-info .info td:first-child {
  margin: 0 0 10px; }

.payment-info .info p {
  text-align: center; }

.confirm-order .buttons {
  padding: 10px 0; }

.confirm-order .button-1 {
  font-size: 16px; }

.order-review-data > div,
.order-details-area > div,
.shipment-details-area > div {
  width: 350px;
  max-width: 100%;
  margin: 0 auto 40px;
  padding: 20px; }

.order-review-data li,
.order-details-area li,
.shipment-details-area li {
  padding: 3px 0; }

.order-review-data .title,
.order-details-area .title,
.shipment-details-area .title {
  margin: 0 0 5px;
  padding: 0;
  font-size: 16px;
  font-weight: bold; }

.order-review-data .title strong,
.order-details-area .title strong,
.shipment-details-area .title strong {
  font-weight: 700; }

.order-review-data .payment-method-info,
.order-review-data .shipping-method-info,
.order-details-area .payment-method-info,
.order-details-area .shipping-method-info {
  margin-top: 20px; }

.order-completed .details {
  margin: 0 0 30px;
  padding: 30px 15px;
  text-align: center;
  font-size: 1.5rem; }

.order-completed .details div {
  margin: 5px 0; }

.order-completed .details strong {
  font-weight: normal;
  text-transform: uppercase; }

.order-completed .details a {
  color: #b79bff; }

.order-completed .details a:hover {
  text-decoration: underline; }

.checkout-page .product-picture {
  padding-left: 1rem !important; }

.checkout-page .cart-options {
  display: none; }

.payment-info .info p {
  text-align: center;
  font-size: 2rem; }

.payment-logo .icon {
  font-size: 7rem;
  max-height: 0.5em; }

.shipping-method .method-list,
.payment-method .method-list {
  margin: 0 auto 30px;
  overflow: hidden;
  text-align: center;
  font-size: 0; }

.shipping-method .method-list li,
.payment-method .method-list li {
  font-size: 14px;
  /*reset zeroing*/
  border: 1px solid #969696;
  padding: 1rem 1rem;
  border-radius: .5rem;
  cursor: pointer; }

.shipping-method .method-list li label,
.payment-method .method-list li label {
  font-size: 13px;
  font-weight: bold;
  color: #9297ff; }

.shipping-method .method-description {
  margin: 5px 0 0; }

.payment-method .payment-logo {
  display: inline-block;
  vertical-align: middle; }

.payment-method .payment-logo label {
  display: block;
  font-size: 0 !important;
  cursor: pointer; }

.payment-method .payment-details {
  min-width: 180px;
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.payment-details label {
  margin-bottom: 0.5rem !important; }

.payment-method .method-list li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 1%;
  width: 200px; }

.payment-method .payment-logo {
  display: block; }

.payment-method .payment-details {
  display: block;
  width: auto;
  min-width: 0;
  text-align: center; }

.method-list li .check {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: #6658d5;
  padding: .5rem;
  font-size: 2rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: .25rem; }

.payment-method .method-list li.active {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 4px #6658d5; }
  .payment-method .method-list li.active .check {
    display: inline-block; }

@media all and (max-width: 480px) {
  .payment-info-page .card.payment-info {
    padding: 0 !important;
    background: transparent;
    box-shadow: none; } }

@media all and (max-width: 532px) {
  .payment-method .method-list li {
    margin: 4% 0 !important; } }

@media all and (min-width: 769px) {
  /*** CHECKOUT ***/
  .checkout-page .selected-checkout-attributes {
    float: right;
    text-align: right; }
  .checkout-page .cart-footer .totals {
    max-width: 350px;
    margin: 0; }
  .checkout-page .address-grid {
    overflow: hidden; }
  .checkout-page .address-item {
    float: left;
    width: 48%;
    margin: 0 1% 40px; }
  .shipping-method .method-list li,
  .payment-method .method-list li {
    display: inline-block;
    width: 25%;
    margin: 20px 2%;
    vertical-align: top; }
  .shipping-method .method-name {
    background-color: #f6f6f6;
    padding: 10px; }
  .payment-method .payment-logo {
    display: block; }
  .payment-method .payment-details {
    display: block;
    width: auto;
    min-width: 0;
    margin: 10px 0 0;
    text-align: center; }
  .payment-info .info {
    padding: 30px 75px; }
  .order-review-data,
  .order-details-area,
  .shipment-details-area {
    overflow: hidden; }
  .order-review-data > div,
  .order-details-area > div,
  .shipment-details-area > div {
    float: left;
    width: 48%;
    margin: 0 1% 40px; } }

@media all and (min-width: 1001px) {
  /*** CHECKOUT ***/
  .order-progress {
    margin: 36px 0 30px; }
  .checkout-page .address-item {
    width: 31.33333%; }
  .checkout-page .terms-of-service {
    text-align: center; }
  .payment-info .info {
    padding: 30px 15px; }
  .payment-info .info td:first-child {
    width: 265px !important;
    margin: 0 10px 0 0;
    text-align: right; }
  .payment-info .info td:only-child {
    width: 100% !important; }
  .order-review-data .title,
  .order-details-area .title,
  .shipment-details-area .title {
    text-align: left; } }

@media all and (min-width: 1367px) {
  /*** CHECKOUT ***/
  .shipping-method .method-list li,
  .payment-method .method-list li {
    margin: 20px 1%; }
  .payment-info .info td:first-child {
    width: 375px !important; }
  .payment-info .info td:only-child {
    width: 100% !important; } }
