/*********** GLOBAL FORMS ***********/

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea, select {
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    vertical-align: middle;
    border-radius: .25rem;
    background: #fff;
    font-size: 1rem;
    font-weight: 500;
}

textarea {
    min-height: 150px;
    font-weight: 500;
    font-size: 1.25rem;
}

input::-moz-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::-webkit-input-placeholder, input::placeholder {
    color: #868e96;
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
    font-family: Cabin, Helvetica, sans-serif;
}

.fieldset, .section {
    position: relative;
    margin: 0 0 40px;
}

.fieldset .title,
.section .title {
    margin: 0 0 15px;
    padding: 0 10px;
    font-size: 20px;
}

.form-fields {
    position: relative;
    padding: 30px 15px;
}

.inputs {
    position: relative;
    margin: 0 0 15px;
    text-align: center;
    font-size: 0;
}

.inputs:after {
    content: "";
    display: block;
    clear: both;
}

.inputs label {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
    font-size: 14px; /*reset zeroing*/
}

.inputs input[type="text"],
.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"],
.inputs select, .inputs textarea {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
}

.inputs.custom-attributes {
    white-space: normal;
}

.inputs .option-list {
    display: inline-block;
    max-width: 95%;
    vertical-align: middle;
}

.inputs .option-list li {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 10px;
}

.inputs .option-list label {
    display: inline-block;
    width: auto !important;
    margin: 0 0 0 5px;
}

.inputs.reversed {
    margin: 0 0 20px;
    text-align: center;
}

.required {
    margin: 0 -8px 0 3px; /*siblings offset*/
    vertical-align: top;
    font-size: 20px;
    font-weight: normal;
    color: #e4434b;
}

.message-error,
.field-validation-error,
.username-not-available-status,
.poll-vote-error, .password-error {
    display: block;
    /* margin: 1rem 0; */
    margin-top: 1rem;
    color: #e4444c !important;
    font-size: 14px !important;
    padding: 0 1.45rem;
    border-radius: .25rem;
    font-weight: 500;
    letter-spacing: .015rem;
    text-align: center;
    /* box-shadow: 0 3px 5px rgba(0,0,0,.2); */
    /* background: #e4444c; */
}

.field-validation-valid,
.username-available-status {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #4cb17c;
}

.captcha-box > div {
    display: inline-block;
    max-width: 100%;
}

.captcha-box input {
    height: auto;
}

.captcha-box {
    text-align: center;
    line-height: 0; /*firefox line-height bug fix*/
    padding-left: 5rem;
    padding-top: 1rem;
}

.fieldset {
    padding: 2.25rem 2.5rem 2.5rem;
    border: none;
    background-color: #1e183e;
    border-radius: .5rem;
}

@media (max-width: 1000px) {
    .captcha-box {
        padding-left: 0;
    }
}

@media all and (min-width: 1001px) {

    .center-2 .inputs label {
        width: 136px;
    }

    .inputs {
        text-align: left;
    }

    .inputs label {
        display: inline-block;
        width: 265px;
        margin: 0 10px 0 0;
        text-align: right;
    }

    .inputs input[type="text"],
    .inputs input[type="email"],
    .inputs input[type="tel"],
    .inputs input[type="password"],
    .inputs select {
        min-height: 40px;
    }

    .inputs .option-list li {
        margin: 0 10px 0 0;
    }
}

@media all and (min-width: 1367px) {
    .inputs label {
        width: 375px;
    }
}