.home-page-category-list {
  margin-top: 4rem; }
  .home-page-category-list .block .title {
    border-bottom: none !important; }
  .home-page-category-list .item-list {
    display: flex;
    flex-direction: column; }
    .home-page-category-list .item-list .item-box {
      width: 100%;
      max-width: none;
      margin: 0;
      position: relative; }
      .home-page-category-list .item-list .item-box .category {
        width: 100%;
        max-width: none;
        margin: 0; }
      .home-page-category-list .item-list .item-box .details {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%; }
  .home-page-category-list .title {
    text-align: left; }
  .home-page-category-list h2.title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .home-page-category-list .product-grid .title {
    display: flex;
    padding: 12px 10px .5rem 10px;
    margin: 0 0 0.5rem;
    font-size: 20px; }

.home-page .topic-block-title {
  display: none; }

.home-page .message {
  padding-top: 2rem; }
  .home-page .message h2 {
    font-size: 3.1rem; }
  .home-page .message p {
    margin: 2rem 0 2rem 0;
    color: #bba0ff;
    font-size: 1.45rem; }

.tns-outer {
  position: relative; }

.tns-controls button {
  padding: 9px 12px;
  background-color: #6c56d7;
  border: 2px solid #6c56d7;
  color: #fff;
  border-radius: 4px;
  line-height: 1;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 55%;
  z-index: 99999; }
  .tns-controls button.prev {
    left: 2em; }
  .tns-controls button.next {
    right: 2em; }

@media all and (min-width: 1001px) {
  .center-1 .home-page .buttons {
    text-align: left;
    margin-bottom: 0; }
    .center-1 .home-page .buttons .button-1 {
      margin-right: 1.5rem; } }

/*
.home-page .product-grid .item-box,
.product-details-page .product-grid .item-box,
.shopping-cart-page .product-grid .item-box {
    width: 24%;
    margin: 0 0.5% 50px;
}
*/
.slider h2 {
  font-size: 2rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 15; }

.slider .ribbon {
  right: 0;
  bottom: 2rem; }

.slider img, .slider .card {
  border-radius: .5rem;
  border: 0;
  height: 245px;
  justify-content: space-around; }

.slider .card {
  padding: 1.5rem 6rem; }

.slider .images {
  overflow: visible; }
  .slider .images::before {
    content: "";
    position: absolute;
    z-index: 13;
    bottom: 0;
    right: 2.625rem;
    width: 29.5rem;
    height: 20.6875rem;
    background-repeat: no-repeat;
    pointer-events: none; }
  .slider .images.diablo-3::before {
    right: 0;
    width: 30.5rem; }

.tns-ovh {
  padding-top: 4.5rem;
  padding-bottom: 1rem; }

@media all and (max-width: 1366px) {
  .slider .images {
    overflow: hidden; }
    .slider .images::before {
      right: 0;
      width: 18.5rem;
      height: 20.6875rem; }
    .slider .images.diablo-3::before {
      width: 24.5rem;
      height: 15rem; } }

@media all and (max-width: 1000px) {
  .home-page-category-list .title {
    text-align: center; }
  .tns-ovh {
    padding-top: 17rem;
    padding-bottom: 1rem; }
  .tns-controls button {
    top: 71%; }
  .slider h2 {
    font-size: 1.75rem; }
  .slider .images {
    overflow: visible; }
    .slider .images::before {
      right: 50%;
      transform: translateX(50%);
      top: -17rem;
      width: 464px;
      height: 17rem; }
    .slider .images.diablo-3::before {
      width: 524px;
      height: 16rem;
      right: 50%;
      top: -16rem; }
  .slider .ribbon {
    position: initial;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    padding: .75rem 2rem; }
  .slider .elements {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .message .buttons a {
    margin: 0 22%; }
  .message .buttons .button-1 {
    margin-bottom: 1rem; } }

@media all and (max-width: 549px) {
  .slider-wrapper .tns-controls {
    display: none; }
  .tns-ovh {
    padding-top: 1.5rem;
    padding-bottom: 0; }
  .slider h2 {
    font-size: 1.5rem; }
  .slider .card {
    padding: 1.25rem; }
  .slider .images {
    overflow: visible; }
    .slider .images::before {
      display: none; } }

/*
.registration-page .card, .login-page .card, .featured .main-game2 {
    display: -ms-flexbox;
    display: flex;
    padding: 2.25rem 2.5rem 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 1;
}
*/
.wow {
  background-image: url(https://res.cloudinary.com/pvehero-images/image/upload/q_auto,f_auto/dpr_auto/featured/mythic-plus-featured.jpg); }
  .wow::before {
    background-image: url(https://res.cloudinary.com/pvehero-images/image/upload/q_auto,f_auto/dpr_auto/featured/featured-mythic-plus-character.png); }

.diablo-3 {
  background-image: url(https://res.cloudinary.com/pvehero-images/image/upload/q_auto,f_auto/dpr_auto/featured/diablo-3-featured.jpg); }
  .diablo-3::before {
    background-image: url(https://res.cloudinary.com/pvehero-images/image/upload/q_auto,f_auto/dpr_auto/featured/diablo3-character2.png); }

.home-page-product-grid.carousel .tns-ovh {
  padding-top: 0;
  padding-bottom: 1rem; }

.home-page-product-grid.carousel .tns-controls button {
  top: -3.5rem; }
  .home-page-product-grid.carousel .tns-controls button.prev {
    right: 8.5rem;
    left: auto; }
  .home-page-product-grid.carousel .tns-controls button.next {
    right: 5rem; }

@media all and (min-width: 1001px) {
  .home-page-category-list a.button-3 {
    position: absolute;
    right: 0;
    top: 2em; }
  .home-page-product-grid.carousel .tns-controls button {
    top: -121px; } }

.slider-wrapper {
  opacity: 0; }
