.home-page-category-list {
    .item-list {
        display: flex;
        flex-direction: column;

        .item-box.category {
            width: 100%;
            max-width: none;
        }
    }

    .title {
        text-align: left;
    }

    h2.title {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .product-grid .title {
        display: flex;
        padding: 12px 10px 12px 10px;

        a {
            line-height: 0;
            margin-left: auto;
        }
    }
}

.home-page {
    .topic-block-title {
        display: none;
    }

    .message {
        h2 {
            text-transform: uppercase;
            font-size: 3.1rem;
        }

        p {
            margin: 2rem 0 2rem 0;
            color: #bba0ff;
            font-size: 1.45rem;
        }
    }
}

@media all and (min-width: 1001px){
    .center-1 {
        .home-page {
            .buttons {
                text-align: left;
            }
        }
    }
}


/*
.home-page .product-grid .item-box,
.product-details-page .product-grid .item-box,
.shopping-cart-page .product-grid .item-box {
    width: 24%;
    margin: 0 0.5% 50px;
}
*/
