/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
}

#cd-timeline::before {
    content: '';
    position: absolute;
    top: 37px;
    left: 25px;
    height: 81%;
    width: 4px;
    background: #7e57c2;
}



@media only screen and (min-width: 1001px) {

    #cd-timeline::before {
        top: 0;
        left: 25px;
        height: 82%;
    }

    #cd-timeline {
        margin-top: 1em;
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
        top: 3.25rem;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1001px) {
    .cd-timeline-block {
        margin: 4em 0;
        display: flex;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img {
    background: #673AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

@media only screen and (min-width: 1001px) {
    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: rgba(145, 78, 232, 0.29);
    border-radius: .5rem;
    box-shadow: 0 7px 15px rgba(0,0,0,.2);
    padding: 1em;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid rgba(145, 78, 232, 0.29);
}

@media only screen and (min-width: 768px) {

    .cd-timeline-content p {
        padding: 0 2rem;
        text-align: center;
        line-height: 1.5;
    }
}

@media only screen and (min-width: 1001px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 33%;
        margin: 0 14%
    }

    .cd-timeline-content::before {
        top: 30px;
        left: 100%;
        border-color: transparent;
        border-left-color: rgba(145, 78, 232, 0.29);
    }

    .cd-timeline-block:nth-child(even) {
        justify-content: flex-end;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 30px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: rgba(145, 78, 232, 0.29);
    }
}

.line {
    position: relative;
    display: flex;
    align-items: center;
    width: 25px;
    margin: 0 10px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: rgba(255, 255, 255, .5);
        border-radius: 3rem;
    }
}