/****** ORDER DETAILS & SHIPPING DETAILS ******/
.order-details-page .page-title {
  border-bottom: none; }

.order-details-page .page-title h1 {
  margin: 0 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 0 10px; }

.order-details-page .page-title a {
  display: inline-block;
  min-width: 180px;
  margin: 5px 0;
  border: none;
  background-color: #aaa;
  background-image: none;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff; }

.order-details-page .page-title a:hover {
  background-color: #999; }

.order-details-page .page-title a.print-order-button {
  background-color: #4ab2f1; }

.order-details-page .page-title a.print-order-button:hover {
  background-color: #248ece; }

.order-details-page .order-overview {
  margin: 0 0 50px;
  line-height: 26px;
  text-align: center;
  font-size: 16px; }

.order-details-page .order-overview .order-number {
  margin: 0 0 10px;
  text-transform: uppercase; }

.order-details-page .repost .button-2 {
  display: inline-block;
  margin: 10px 0;
  border: none;
  background-color: #4ab2f1;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase; }

.order-details-page .repost .button-2:hover {
  background-color: #248ece; }

.order-details-page .download a {
  font-weight: normal;
  color: #4ab2f1; }

.order-details-page .download a:hover {
  text-decoration: underline; }

.user-agreement-page .terms-of-agreement {
  margin: 0 0 20px;
  padding: 20px;
  text-align: center; }

.user-agreement-page .button-1 {
  min-width: 140px;
  border: none;
  background-color: #4ab2f1;
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase; }

.user-agreement-page .button-1:hover {
  background-color: #248ece; }

.order-details-page .tax-shipping-info {
  margin: 30px 0; }

.order-details-page .tax-shipping-info a {
  color: #4ab2f1; }

.order-details-page .tax-shipping-info a:hover {
  text-decoration: underline; }

.order-details-page .actions {
  margin: 30px 0 0;
  font-size: 0; }

.order-details-page .actions input {
  display: inline-block;
  min-width: 165px;
  margin: 5px;
  border: none;
  background-color: #aaa;
  background-image: none;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff; }

.order-details-page .actions input:hover {
  background-color: #999; }

.order-details-page .actions input:first-child {
  background-color: #4ab2f1; }

.order-details-page .actions input:first-child:hover {
  background-color: #248ece; }

.order-details-page .totals.section {
  width: 370px;
  padding: 0 10px;
  max-width: 100%;
  margin: 0 0 0 auto; }

@media all and (min-width: 769px) {
  /*** ORDER DETAILS & SHIPPING DETAILS ***/
  .order-details-page .section.options {
    text-align: right; }
  .order-details-page .selected-checkout-attributes {
    padding: 0 10px; }
  .order-details-page .tax-shipping-info {
    text-align: right; } }
