.product-grid .title {
    position: relative;
    margin: 0 0 1.55rem;
    padding: 12px 30px 12px 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,.15);
}

.item-grid:after {
    content: "";
    display: block;
    clear: both;
}

.item-box {
    width: 100%;
    margin: 0 0 5% 0;
}

@media all and (min-width: 481px) {
    .item-box {
        width: 48%;
        margin: 1%;
    }

    .item-box:nth-child(2n+1) {
        clear: both;
    }
}

@media all and (min-width: 769px) {
    .product-selectors {
        text-align: left;
    }

    .item-box {
        width: 31.33333%;
        margin: 1%;
    }

    .item-box:nth-child(2n+1) {
        clear: none;
    }

    .item-box:nth-child(3n+1) {
        clear: both;
    }
}

@media all and (min-width: 1001px) {
    .product-grid .title {
        text-align: left;
    }

    .product-details-page .product-grid .item-box,
    .shopping-cart-page .product-grid .item-box {
        width: 24%;
        margin: 0 0.5% 50px;
    }

    .home-page .product-grid .item-box:nth-child(3n+1),
    .product-details-page .product-grid .item-box:nth-child(3n+1),
    .shopping-cart-page .product-grid .item-box:nth-child(3n+1) {
        clear: none;
    }

    .home-page .product-grid .item-box:nth-child(4n+1),
    .product-details-page .product-grid .item-box:nth-child(4n+1),
    .shopping-cart-page .product-grid .item-box:nth-child(4n+1) {
        clear: both;
    }
}