/****** SEARCH & SITEMAP ******/

.search-page .page-title {
    margin: 0 0 -1px;
}

.search-input .fieldset {
    margin: 0 0 30px;
}

.search-input .form-fields {
    padding: 30px 15px 10px;
}

.search-input input + label {
    display: inline;
    margin: 0 0 0 5px;
}


.search-input .buttons {
    text-align: center;
}

.search-input .button-1 {
    min-width: 140px;
    border: none;
    background-color: #4ab2f1;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.search-input .button-1:hover {
    background-color: #248ece;
}

.search-results {
    margin: 30px 0 0;
}

.search-results .warning,
.search-results .no-result {
    margin: 10px 0;
    color: #e4434b;
}