.stars {
  font-size: 1.75rem; }
  .stars.no-reviews {
    opacity: 0.5; }
  .stars .star {
    float: left;
    color: #c7c7c7;
    padding: .15rem;
    margin-right: .25rem;
    margin-bottom: .25rem; }
  .stars[data-stars] .star {
    color: #fff;
    background: #6658d5;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all .25s ease; }
  .stars[data-stars="1"] .star:nth-child(1) ~ .star {
    color: #c7c7c7;
    background: #888; }
  .stars[data-stars="2"] .star:nth-child(2) ~ .star {
    color: #c7c7c7;
    background: #888; }
  .stars[data-stars="3"] .star:nth-child(3) ~ .star {
    color: #c7c7c7;
    background: #888; }
  .stars[data-stars="4"] .star:nth-child(4) ~ .star {
    color: #c7c7c7;
    background: #888; }
  .stars[data-stars="5"] .star:nth-child(5) ~ .star {
    color: #c7c7c7;
    background: #888; }
  .stars[data-stars="6"] .star:nth-child(6) ~ .star {
    color: #c7c7c7;
    background: #888; }

.stars.hover {
  cursor: pointer;
  font-size: 1.75rem; }
  .stars.hover:hover .star {
    color: #fff !important;
    background: #6658d5 !important; }
  .stars.hover .star:hover ~ .star {
    color: #c7c7c7 !important;
    background: #888 !important; }
