@model FoxNetSoft.Plugin.Misc.PopUpLogin.Models.PopUpLoginModel
@inject IWorkContext workContext
@using Nop.Web.Framework.UI
@using Nop.Core;
@using System.Net
@using Nop.Core.Domain.Security
@inject IWebHelper webHelper
@inject CaptchaSettings captchaSettings
@{
    Layout = "";
    var registerUrl = Url.RouteUrl("Register", null, webHelper.CurrentRequestProtocol);
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl", WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]));
    }
}
<div id="fnspopuploginblock">
    <form method="post" id="form-fns-pupuplogin-antiforgerytoken" action="javascript:void(null);">
        <nop-antiforgery-token />
    </form>
    <div id="modal" class="fnspoploginform" style="display:none;">
    </div>
</div>

<script asp-location="Footer">
    var fnspopuplogin_recaptcha_widget_registration;

    var onloadCallbackLoginPopUpCaptcha = function () {
        if ($('#fnspopupregistrationcaptchabox').length > 0 && fnspopuplogin_recaptcha_widget_registration == undefined)
            fnspopuplogin_recaptcha_widget_registration = grecaptcha.render('fnspopupregistrationcaptchabox', {
                'sitekey': '@captchaSettings.ReCaptchaPublicKey', 'theme': '@(captchaSettings.ReCaptchaTheme?? "light")'
            });
    };
</script>
<script async="" defer="" src="https://www.google.com/recaptcha/api.js?onload=onloadCallbackLoginPopUpCaptcha&amp;render=explicit"></script>

<script asp-location="Footer">
    var fnspopuplogin_login_selector= "#fnspopuplogin";
    var fnspopuplogin_registration_selector= "#fnspopupregistration";
    var fnspopuplogin_forgotpassword_selector= "#fnspopupforgotpassword";
    var fnspopuplogin_registrationresult_selector= "#fnspopupregistrationresult";
    var fnspopuplogin_forgotpasswordresult_selector= "#fnspopupforgotpasswordresult";

    var modal = "#modal";


    function fns_popupdialog(selector, checkGuest) {

            utility.addOverlay(true);
        if (selector == '#fnspopuplogin') {
            if (!$(modal).hasClass('loaded')) {
                $(modal).load('/LoginForm', function () {
                    fns_popuplogin_refreshlink();
                    if (checkGuest)
                    {
                        $(modal).find('.checkout-as-guest-or-register-block').show();
                    }
                    else
                    {
                        $(modal).find('.checkout-as-guest-or-register-block').hide();
                    }
                    $('#flyout-cart').removeClass('active');



                    utility.openModal();
                    $(modal).addClass('loaded');
                });
            }
        }
        if (selector == '#fnspopupregistration') {
            if (!$(modal).hasClass('loaded')) {
                $(modal).load('/RegisterForm', function () {
                    fns_popuplogin_refreshlink();
                    utility.openModal();
                    $(modal).addClass('loaded');
                    if (fnspopuplogin_recaptcha_widget_registration != undefined) {
                        grecaptcha.reset(fnspopuplogin_recaptcha_widget_registration);
                    }
                    else {
                        onloadCallbackLoginPopUpCaptcha();
                    }
                });
            }
        }
        if (selector == '#fnspopupforgotpassword') {
            if (!$(modal).hasClass('loaded')) {
                $(modal).load('/PasswordRecoveryForm', function () {
                    fns_popuplogin_refreshlink(); utility.openModal(); $(modal).addClass('loaded');
                });
            }
        }
    }
    function fns_popuplogin(checkGuest)
    {
        fns_popupdialog(fnspopuplogin_login_selector, checkGuest);
    }
    function fns_popuplogin_refreshlink()
    {
        @if (Model.ShowLoginForm)
        {
            <text>
                var loginelement = $(".ico-login");
                if (loginelement.length>0)
                {
                    loginelement.off("click").on("click", function () {
                        event.preventDefault(); // cancel default behavior
                        fns_popuplogin(false);
                        return false;
                    });
                    $(".flyout-cart .checkout-button").attr('onclick', '').off("click").on("click", function (event) {
                        event.preventDefault(); // cancel default behavior

                        fns_popuplogin(true);
                        return false;
                    });

                    var bntcheckout=$("#checkout");


                    bntcheckout.off("click").on("click", function (event) {
                        fns_popuplogin(true);
                        return false;
                    });
                }
            </text>
        }
        @if (Model.ShowRegistrationForm)
        {
            <text>
                $(".ico-register").off("click").on("click", function () {
                    event.preventDefault(); // cancel default behavior
                    fns_popupdialog(fnspopuplogin_registration_selector);
                    return false;
                });
                $(".register-button").off("click").on("click", function () {
                    event.preventDefault(); // cancel default behavior
                    utility.reloadModalContent(fnspopuplogin_registration_selector);
                    return false;
                });
                $(".back-to-login-button").off("click").on("click", function () {
                    event.preventDefault(); // cancel default behavior
                    utility.reloadModalContent(fnspopuplogin_login_selector);
                    return false;
                });
            </text>
        }

        @if (Model.ShowForgotPasswordForm)
        {
            <text>
                $(".forgot-password a").off("click").on("click", function () {
                    event.preventDefault(); // cancel default behavior
                    //fns_popuplogin_destroyform(fnspopuplogin_login_selector);
                    utility.reloadModalContent(fnspopuplogin_forgotpassword_selector);
                return false;
                });
            </text>
        }
    }

    function fns_popuplogin_sendform(idform)
    {
        debugger;
        var form=$('#' + idform);
        var controller = form.attr("data-contoller");
        var msg = form.serialize();
        msg=addAntiForgeryTokenForPopUp(msg)
        $.ajax({
            type: 'POST',
            url: controller,
            data: msg,
            success: function (response) {

                if (response.redirect) {

                    if (response.message != undefined && response.message.length > 0) {
                        alert(response.message);
                        }
                    window.location.reload(true);
                }

                if (response.success) {
                    $('#modal').html(response.updatesectionhtml);
                    if (response.action == "Login")
                        fnspopuplogin_recaptcha_widget_login = undefined;
                    else if (response.action == "Register")
                        fnspopuplogin_recaptcha_widget_registration = undefined;
                    else if (response.action == "PasswordRecoveryResult")
                        fnspopuplogin_recaptcha_widget_passwordrecovery = undefined;
              
                    fns_popuplogin_refreshlink();
                }
                return false;
            },
            error: function (xhr, str) {
                alert('Failed to save data to server. ErrorCode: ' + xhr.responseCode);
            }
        });
    }

    // CSRF (XSRF) security for PopUpForm
    function addAntiForgeryTokenForPopUp(data) {
        //add token
        var tokenInput = $('#form-fns-pupuplogin-antiforgerytoken').find('input[name=__RequestVerificationTokenPopUp]');
        if (tokenInput.length) {
            data=data+ '&__RequestVerificationToken=' + tokenInput.val();
        }
        return data;
    };

   $(document).ready(function () {
       var antiForgentokenPopUp=$('#form-fns-pupuplogin-antiforgerytoken').find('input[name=__RequestVerificationToken]');
       if (antiForgentokenPopUp.length) {
           antiForgentokenPopUp.attr("id","__RequestVerificationTokenPopUp");
           antiForgentokenPopUp.attr("name","__RequestVerificationTokenPopUp");
       }
        fns_popuplogin_refreshlink();
    });
    </script>


